<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- css -->
  <link rel="stylesheet" href="/scss/about.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">

  <title>FDM-About</title>
</head>

<body>

  <!-- =============================================NAVBAR==================================================== -->
<header>
  <div class="mainheader">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/icons/FDM.png" alt="" id="nav-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact_us">Contact us</a>
            </li>
            <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
            <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
          </ul>
          <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <% if(!logged) { %>
        <a href="/login" class="my-btn"><img src="/icons/login1.svg" id="login" alt=""></a>
      <% } else { %>
        <img src="/icons/profile1.svg" id="profile_img" alt="">
        <ul id="dropdown" class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><a href="/profile" class="nav-link">Your Profile</a></li>
          <li class="nav-item"><a href="/logout"  class="nav-link">
            <!-- <img src="/icons/login1.svg" id="logout_img" alt=""> -->
            Logout</a></li>
        </ul>
      <% } %>
        </div>
      </div>
    </nav>
  </div>
</header>

  <!-- ======================================================CONTENT============================================== -->


  <section id="about_page">
    <div class="col-lg-10 col-10 mx-auto" id="col2">
      <h1 class="heading1 text-center">Fabulous Digital Managements</h1>
      <h2>About</h2>
      <h3 class="heading3">How it all started :</h3>
      <p>Nachiket Oza is a self-taught businessman. He didn’t go to any business or management school, but his
        restaurants,catering and event management business bring in around $50 million in sales a year. He beat Bobby
        Flay
        in 2020 and rose to become The Independent breakout business-person of the year.He became the chef of the
        Highlands Country Club in Garrison, NY at 23 years old.When asked if he was nervous to be so young in such a
        position, he said he knew he could pick up and try something else if he failed. He didn’t fail. Quite the
        opposite, actually. He went on to open Xaviars at Piermont and the Freelance Cafe & Wine Bar (both sold in
        2016),
        as well as X2O Xaviars on Hudson in Yonkers and Restaurant X & Bully Boy Bar in Congers. Event management and
        restaurants are risky, as anyone who wants to open one will hear over and over again. But in Oza’s case, the
        risk
        paid off. Oza is also a vintner (a wine merchant) and the founder and culinary director of Impromptu Gourmet,
        which delivers chef-inspired foods made with real, fresh ingredients to your door. On his journey towards being
        a
        successful businessman and a good human, he met Dhruv Nawani, who is the CMO & CFO of one of Oza's most
        successful
        company,The Fabulous Digital Management, founded in 2018.They both,with their creative and combined
        brainstorming
        found the company which largely focuses on improving the event management services provided in their home
        country,India.</p>
      <h3 class="heading3">The Takeaway :</h3>
      <p>Entering the workforce can be challenging in any field, but especially one as competitive as the culinary
        world.
        Even if you don’t have the formal training, you can make up for it with passion and hard work—just like Oza and
        Nawani did. This approach doesn’t work for all fields, but it’s also not an uncommon story. If you’re willing to
        put in the work and learn by doing, you might be able to make it big.</p>
      <div class="row text-center image">
        <div class="col-6">
          <img src="Images/IMGP2/N.png" alt="Nachiket's Pic" id="img1">
          <p class="text-center" style="font-weight: bold;">Nachiket,25 <br>CEO,COO</p>
        </div>
        <div class="col-6">
          <img src="Images/IMGP2/D.png" alt="Dhruv's Pic" id="img2">
          <p class="text-center" style="font-weight: bold;">Dhruv,25 <br>CTO,CFO</p>
        </div>
      </div>
    </div>
  </section>


  <!-- ======================================================FOOTER=============================================== -->

  <footer>
    <div class="row text-center">
      <div class="col-md-4 logo_img">
        <img src="images/icons/FDM.png" alt="FDM Logo">
      </div>
      <div class="col-md-4">
        <h4 style="text-align: left; font-size: 20px;"><b>Fabulous Digital Managements</b></h4>
        <p style="text-align: left;">A 001, 1st Floor, Turquoise Plaza,<br>
          Above Everyone,<br>
          Near Nobody,<br>
          Satellite, Ahmedabad,<br>
          Gujarat 380007 <br>
          support@fabulosdigitalmanagement.in <br>
          +91-9898989898</p>
      </div>
      <div class="col-md-4">
        <h3><b>Get in touch.</b></h3>
        <p>To get in-touch with us, please subscribe to our email service.</p>
        <input type="email" id="subs" style="position: relative; top : 3px; height: 20px; width: 50%">
        <button type="button" class="sub btn btn-dark" id="btn1">Submit</button><br><br>
        <img src="images/icons/fb.svg" alt="fb" style="width: 30px;height: 30px;margin-right: 10px;">
        <img src="images/icons/insta.svg" alt="insta" style="width: 30px;height: 30px;margin-right: 10px;">
        <img src="images/icons/linkedin.svg" alt="twitter" style="width: 30px;height: 30px;margin-right: 10px;">
        <img src="images/icons/twitter.svg" alt="linkedin" style="width: 30px;height: 30px;margin-right: 10px;">
        <img src="images/icons/whatsapp.svg" alt="whatsapp" style="width: 30px;height: 30px;">
        <br><br>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> Copyright:
      <a href="#">Fabulous Digital Managements, Inc. All Rights Reserved.</a>
    </div>
  </footer>


  <!-- =======================================================JAVASCRIPT======================================================= -->

  <!-- INTERNAL JAVASCRIPT -->
  <script src="/js/about.js"></script>

  <!-- BOOTSTRAP JAVASCRIPT -->

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>-->

</body>

</html>